.chat-list-item{
    list-style-type: none;
}
.chat-main-div{
    display: flex;
}
.chat-user-logo{
    background-color: #de4b52;
    border-radius: 50%;
    color: #fff;
    font-weight: 400;
    width: 50px;
    height: 50px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat-user-data{
    display: flex;
    align-items: center;
}
.chat-user-name{
margin-right: 10px;
font-weight: 600;
color: #5d5e5d;
margin-bottom: 8px;
}
.chat-user-time{
    color: #b4b7b9;
    margin-bottom: 6px;
}
.chat-user-data-div{
    margin-left: 10px;
    padding-top: 40px;   
}
.chat-user-msg{
    background-color: #fff;
    padding: 15px;
    border-radius: 0px 15px 15px 15px;
    color: #737376;
    margin-right: 10px;
}
.chat-user-msg-like-div{
    display: flex;
    align-items: center;
}
.like-btn{
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 16px;
}
.user-likes-color{
    fill: red;
}
